[Desktop Entry]
Type=Application
Name=Camdash GUI
Comment=HLS Livecam operator dashboard
Exec=/usr/local/bin/camdash-gui
Icon=/usr/share/hls-livecam-server/gui/assets/icon_1024.png
Terminal=false
Categories=Utility;AudioVideo;
